.App {
  margin: 4rem  7rem;
} 

input{
  border: none !important; 
  outline: none !important;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem; 
  
}

input::placeholder {
color: var(--input-text); 
font-weight: bold;
font-size: small;
}

.search_btn {
  display: inline-block;
  padding: 2px 5px; 
  border: none;
  background-color: #fff; 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Add border radius for rounded corners */
  transition: background-color 0.3s, transform 0.2s; /* Add transitions for smooth effects */
}

.search_btn:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.search_btn:active {
  transform: scale(0.95); /* Add slight scale down effect when button is clicked */
  /* You can also change the color or add any other effects */
}

.search_btn:focus {
  outline: none; /* Remove default focus outline */
}
 
/* Media query for smaller screens */
@media screen and (max-width: 1080px) {
  .App {
    margin: 3rem 5rem; /* Adjusted margin for smaller screens */
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 768px) {
  .App {
    margin: 1rem 1rem; /* Further adjusted margin for even smaller screens */
  }
}

.loading_container{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%; 
  padding: 0px 50px;
}

 
